
/* General */
html {
    box-sizing: border-box;
    font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(235, 235, 235);
}

*, *:before, *:after {
    box-sizing: inherit;
}



/* Footer */



/* Home */

.inspired-banner-wrapper {
    position: relative;
    max-width: 1200px;
    height: 500px;
    background-color: white;
    border-radius: 6px;
    margin: 30px auto;
}

.inspired-banner-wrapper > .left {
    top: 40%;
}

.inspired-banner-wrapper > .right {
    top: 40%;
}

.inspired-banner-cards {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    max-width: 1200px;
    height: 300px;
    transition: all .5s ;
    overflow: hidden;
}

/* ItemDetail */



/* ItemList */



