
/* General */
html {
    box-sizing: border-box;
    font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}


/* Header */



/* Footer */



/* Home */

/* ItemDetail */

.shortcuts-container {
    position: relative;
    margin-top: 350px;
    width: 100%;
    
}

.shortcuts-wrapper {
    position: relative;
    max-width: 1200px;
    height: 300px;
    margin: 0 auto;
}

.shortcuts {
    position: relative;
    overflow: hidden;
}


.cards-container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    max-width: 1200px;
    height: 300px;
    transition: all .5s ;
    transform: translateX(0%);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 280px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
}

.card img {
    width: 180px;
    height: 150px;
}

.btn-shortcut {
    position: absolute;
    height: 60px;
    width: 60px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
    z-index: 4;
}

.btn-shortcut.left {
    left: -30px;
    top: 30%;
    opacity: 0;
}

.left::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 45%;
    width: 14px;
    height: 14px;
    border-left: 1px solid #3483fa;
    border-top: 1px solid #3483fa;
    transform: rotate(-45deg);
}


.btn-shortcut.right {
    right: -30px;
    top: 30%;
}

.right::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 35%;
    width: 14px;
    height: 14px;
    border-right: 1px solid #3483fa;
    border-top: 1px solid #3483fa;
    transform: rotate(45deg);
}


/* ItemList */



