
/* General */
html {
    box-sizing: border-box;
    font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(235, 235, 235);
}

*, *:before, *:after {
    box-sizing: inherit;
}






/* Home */
 






/* ItemDetail */



/* ItemList */


/* Footer */

